extends page.pug

append head
  script.
    "use strict";

    let makingAssignment = false;
    const onMakeAssignment = (id, action) => {
      if (makingAssignment) {
        return;
      }
      makingAssignment = true;

      const oReq = new XMLHttpRequest();
      oReq.addEventListener("load", function() {
        makingAssignment = false;
        if (this.status === 400) {
          alert(this.responseText);
          return;
        }
        else if (this.status !== 200) {
          alert("Something went wrong. Please contact the system administrator.");
        }
        // console.log(this.responseText);
        window.location = "/callings";
      });
      oReq.open("POST", `/calling/${id}/assign`);
      oReq.send(JSON.stringify({
        action,
        assignee: document.getElementById("emailInput").value,
      }));
    };

  style.
    input {
      width: 200px;
    }

    button {
      width: 70px;
    }

append content
  h3 #{stake}

  h1 Assign #{action}
  span Candidate: #{candidate}
  span Position: #{position}
  .horizontal-start-items
    div Assignee Email:
    input#emailInput(type="email")
  button(onclick=`onMakeAssignment(${callingId}, "${action}")`) Send
