extends page.pug

append content
  if newCompleted
    div Your assignment to #{action} has been completed for #{candidate} for #{position}.
  else
    div Your assignment to #{action} has already been completed for #{candidate} for #{position}.
