extends page.pug

append content
  if newCompleted
    div Your assignment to #{action.toLowerCase()} has been completed for #{candidate} for #{position}.
  else
    div Your assignment to #{action.toLowerCase()} has already been completed for #{candidate} for #{position}.
