extends page.pug

append head
  script.
    "use strict";
    
    const onCreateCalling = () => {
      let templeWorthy = null;
      const selected = document.querySelector("input[name='templeWorthy']:checked");
      if (selected) {
        templeWorthy = selected.value === "yes" ? true : false;
      }

      const oReq = new XMLHttpRequest();
      oReq.addEventListener("load", function() {
        if (this.status !== 200) {
          alert("Something went wrong. Please contact the system administrator.");
        }
        // console.log(this.responseText);
        window.location = "/callings";
      });
      oReq.open("POST", "/calling");
      oReq.send(JSON.stringify({
        firstName: document.getElementById("firstNameInput").value,
        middleName: document.getElementById("middleNameInput").value,
        lastName: document.getElementById("lastNameInput").value,
        position: document.getElementById("positionInput").value,
        reason: document.getElementById("reasonInput").value,
        templeWorthy,
        ward: document.querySelector("input[name='ward']:checked").value,
        currentCalling: document.getElementById("currentCallingInput").value,
        phoneNumber: document.getElementById("phoneNumberInput").value,
        bishopConsulted: document.getElementById("bishopConsultedInput").checked,
        councilRepConsulted: document.getElementById("councilRepConsultedInput").checked,
      }));
    };

    const onDeleteCalling = () => {
      const oReq = new XMLHttpRequest();
      oReq.addEventListener("load", function() {
        if (this.status !== 200) {
          alert("Something went wrong. Please contact the system administrator.");
        }
        // console.log(this.responseText);
        window.location = "/callings";
      });
      oReq.open("DELETE", "/calling/#{id}");
      oReq.send();
    };

append content
  div(style="display: flex; flex-direction: row; justify-content: space-between;")
    a(href="/callings") View all Callings
    if viewMode && canDelete
      button(onclick="onDeleteCalling()") DELETE CALLING
  h3 #{stake}

  h1 Interview Recommendation Form
  .box.horizontal-spaced-items
    .vertical-items
      div First:
      input#firstNameInput(type="text" value=`${firstName || ""}` maxlength="45")
    .vertical-items
      div Middle:
      input#middleNameInput(type="text" value=`${middleName || ""}` maxlength="45")
    .vertical-items
      div Last:
      input#lastNameInput(type="text" value=`${lastName || ""}` maxlength="45")

  h3 Is recommended for the position of
  .box
    div Position:
    input#positionInput(type="text" value=`${position || ""}` maxlength="45")

  h3 Reason for change and other pertinent information about this recommendation:
  //- BUG: reason does not display when viewing calling
  textarea#reasonInput(value=`${reason || ""}` rows="6" style="resize: none;" maxlength="2048")

  h3 Candidate Information:
  .box
    div Temple Worthy:
      input#yes(type="radio" name="templeWorthy" value="yes" checked=templeWorthy)
      label(for="yes") Yes
      input#no(type="radio" name="templeWorthy" value="no" checked=templeWorthy === false)
      label(for="no") No
      input#unknown(type="radio" name="templeWorthy" value="unknown" checked=templeWorthy !== true && templeWorthy !== false)
      label(for="unknown") Unknown
    div Ward / Branch:
      each _ward in wards
        input(id=`${_ward.id}` type="radio" name="ward" value=`${_ward.id}` checked=ward === _ward.id)
        label(for=`${_ward.id}`) #{_ward.name}
    .horizontal-start-items
      div Current Calling:
      input#currentCallingInput(type="text" value=`${currentCalling || ""}` maxlength="45")
    .horizontal-start-items
      div Phone Number:
      input#phoneNumberInput(type="text" value=`${phoneNumber || ""}` maxlength="45")

  h3 Checklist:
  .box
    .horizontal-start-items
      input#bishopConsultedInput(type="checkbox" checked=bishopConsulted)
      div Bishop / Branch President Consulted
    .horizontal-start-items
      input#councilRepConsultedInput(type="checkbox" checked=councilRepConsulted)
      div High Council Representative Consulted
    if canSkipStakeApproval
      .horizontal-start-items
        input#councilRepConsultedInput(type="checkbox" checked=councilRepConsulted)
        div Discussed by Stake Presidency (Skip Stake Presidency Approval)
  //- p #{fortune}
  if !viewMode
    .horizontal-spaced-items
      button(onclick="onCreateCalling()") Create Calling
