extends page.pug

append head
  style.
    tbody tr:nth-child(even) {
      background-color: rgba(200, 200, 200, 0.5);
    }
    th {
      width: 25%;
    }

    table {
      border-collapse: collapse
    }

    .approved {
      background-color: rgba(100, 240, 100, 0.75);
    }
    .pending {
      background-color:rgba(170, 100, 240, 0.75);
    }
    .denied {
      background-color:rgba(240, 100, 100, 0.75);
    }
  script.
    const advanceCalling = id => {
      const oReq = new XMLHttpRequest();
      oReq.addEventListener("load", function() {
        // console.log(this.responseText);
        window.location = "/callings";
      });
      oReq.open("POST", `/calling/${id}/advance`);
      oReq.send();
    };

    const deleteCalling = id => {
      const oReq = new XMLHttpRequest();
      oReq.addEventListener("load", function() {
        // console.log(this.responseText);
        window.location = "/callings";
      });
      oReq.open("DELETE", `/calling/${id}`);
      oReq.send();
    };

append content
  div(style="display: flex; flex-direction: row; justify-content: space-between;")
    if canCreate
      a(href="/calling") Create a Calling
    else
      //- HACK: this div is just here to keep HC aligned to the right
      div
    #hc HC
      input(type="text")
  h3 #{stake}

  h1 Callings
  each table in tables
    h2 #{table.name}
    table(style="width: 100%; text-align: center;")
      tr
        th Candidate
        th Position
        if table.showCounts
          th Approvals
          th Additional Discussion
          th Pending
        th Action
      each approval in table.callings
        tr(onclick=`window.location = "/calling/${approval.id}"` style="cursor: pointer;")
          td #{approval.firstName} #{approval.lastName}
          td #{approval.position}
          if (table.showCounts)
            td #{approval.approvalCount}
            td #{approval.denialCount}
            td #{approval.pendingCount}
          td(style="display: flex;" onclick="event.stopPropagation()")
            //- TODO: Advance should be assign on interview and above
            //- This should allow stake presidency to put in an email
            //- and an email with the assignment + completion link will be sent
            button(onclick=`advanceCalling(${approval.id})`) Advance
            span &nbsp;-&nbsp;
            button(onclick=`deleteCalling(${approval.id})`) Delete
