extends page.pug

append head
  style.
    tbody tr:nth-child(even) {
      background-color: rgba(200, 200, 200, 0.5);
    }
    th {
      width: 25%;
    }
    
    tbody tr:hover:nth-child(n+2) {
      background-color: #aeaeae;
    }

    table {
      border-collapse: collapse
    }

    .approved {
      background-color: rgba(100, 240, 100, 0.75);
    }
    .pending {
      background-color:rgba(170, 100, 240, 0.75);
    }
    .denied {
      background-color:rgba(240, 100, 100, 0.75);
    }
  script.
    let blockAdvance = false;
    const advanceCalling = id => {
      if (blockAdvance) {
        return;
      }
      blockAdvance = true;

      const oReq = new XMLHttpRequest();
      oReq.addEventListener("load", function() {
        if (this.status !== 200) {
          alert("Something went wrong. Please contact the system administrator.");
        }
        // console.log(this.responseText);
        window.location = "/callings";
      });
      oReq.open("POST", `/calling/${id}/updateState?advance=true`);
      oReq.send();
    };

    const assignCalling = (id, type) => {
      window.location = `/assign/${id}?action=${type}`;
    }

    const deleteCalling = id => {
      const oReq = new XMLHttpRequest();
      oReq.addEventListener("load", function() {
        if (this.status !== 200) {
          alert("Something went wrong. Please contact the system administrator.");
        }
        // console.log(this.responseText);
        window.location = "/callings";
      });
      oReq.open("DELETE", `/calling/${id}`);
      oReq.send();
    };

append content
  div(style="display: flex; flex-direction: row; justify-content: space-between;")
    if canCreate
      a(href="/calling") Create a Calling
  h3 #{stake}

  h1 Callings
  each table in tables
    h2 #{table.name}
    table(style="width: 100%; text-align: center;")
      tr
        th Candidate
        th Position
        if table.showCounts
          th Approvals
          th Additional Discussion
          th Pending
        else
          th Completed
          th Assigned To
        if canUpdateState
          th Action
      each approval in table.callings
        tr(onclick=`window.location = "/calling/${approval.id}"` style="cursor: pointer;")
          td #{approval.firstName} #{approval.lastName}
          td #{approval.position}
          if (table.showCounts)
            td(title=`${approval.approvers.join("\n")}`) #{approval.approvalCount}
            td(title=`${approval.deniers.join("\n")}`) #{approval.denialCount}
            td(title=`${approval.penders.join("\n")}`) #{approval.pendingCount}
          else
            td #{approval.assignmentCompleted ? "Yes" : "No"}
            td #{approval.assignedTo}
          if canUpdateState
            td(onclick="event.stopPropagation()")
              if approval.state === 0
                button(onclick=`advanceCalling(${approval.id})`) Advance
              else if approval.state === 1
                button(onclick=`assignCalling(${approval.id}, "interview")`) Assign
              else if approval.state === 2
                button(onclick=`assignCalling(${approval.id}, "sustain")`) Assign
              else if approval.state === 3
                button(onclick=`assignCalling(${approval.id}, "setApart")`) Assign
              else if approval.state === 4
                button(onclick=`advanceCalling(${approval.id})`) Complete
